<?xml version="1.0" encoding="utf-8"?>
<connectionStrings configBuilders="SitecoreConnectionStringsBuilder">
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="user id=user;password=password;Data Source=(server);Database=Sitecore_Core"/>
  <add name="security" connectionString="user id=user;password=password;Data Source=(server);Database=Sitecore_Security"/>
  <add name="master" connectionString="user id=user;password=password;Data Source=(server);Database=Sitecore_Master"/>
  <add name="web" connectionString="user id=user;password=password;Data Source=(server);Database=Sitecore_Web"/>
  <add name="experienceforms" connectionString="user id=user;password=password;Data Source=(server);Database=Sitecore_ExperienceForms"/>
  <add name="solr.search" connectionString="https://localhost:8995/solr"/>
  <add name="sitecoreidentity.secret" connectionString="Set client secret for Sitecore Identity server here."/>
   <add name="CMP.ContentHub" connectionString="ClientId=LogicApp;ClientSecret=d54a8fb6-45f7-4404-a930-4bfc05ce6cb5
  ;UserName=nkdram_sc;Password=Ramprag3687!;URI=https://valtech-eu-training-cmp.stylelabs.io;" />
  <add name="CMP.ServiceBusEntityPathIn" connectionString="Endpoint=sb://seps-run-sb-weu.servicebus.windows.net/;SharedAccessKeyName=Write;SharedAccessKey=9p30vKOIhmpDfXhdo1lMdFfe9iXauf8U6rdBMwG0JU4=;EntityPath=hub_in_3k8vfl5gu769we32gzn" />
  <add name="CMP.ServiceBusSubscription" connectionString="sitecore" />
  <add name="CMP.ServiceBusEntityPathOut" connectionString="Endpoint=sb://seps-run-sb-weu.servicebus.windows.net/;SharedAccessKeyName=Read;SharedAccessKey=SSobiST1NJThoUlMNM5VPIGHq7bx1STNznQVTNZx8QI=;EntityPath=hub_out_3k8vfl5gu769we32gzn" />
  <add name="DAM.ContentHub" connectionString="https://valtech-eu-training-cmp.stylelabs.io" />
  <add name="DAM.SearchPage" connectionString="https://valtech-eu-training-cmp.stylelabs.io/en-us/sitecore-dam-connect/approved-assets" />
  <add name="DAM.ExternalRedirectKey" connectionString="Sitecore" />
</connectionStrings>