
<section class="column-container two-column-equal background-grey">
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-sm-8">
                    <h5 style="color:blue">Try uploading your own images:</h5>
                </div>
                <div class="col-sm-8">
                    <label style="color:blue" for="cars">Choose a Trained Model to predict</label>
                    <select name="modelname" id="modelname">
                    </select>
                </div>
            </div>
            <div class="row">
                <input type="file" name="imageFile">
                <input type="submit" value="Upload File" name="submit" class="btn btn-primary">
            </div>
        </form>
    </div>
    <div class="container">
        <div class="row">
            <div id="resultImagediv" class="col-sm-6">
                <img id="result" style="height: 600px;
    width: auto;" />
            </div>
        </div>
    </div>
</section>
