<div class="card text-center" id="train">
    <div class="card-header">
        <h5 style="color:blue">Train your Project</h5>
    </div>
    <div class="card-body">
        <h5 class="card-title">Provide a Name for your trained Model : <input type="text" class="form-control" id="modelname" > </h5>
        <input type="button" value="Train" id="train-btn" class="btn btn-primary">
    </div>
    <div class="card-footer text-muted check-project">
        <div class="alert alert-danger" role="alert" id="model-info">
            A model is being trained
        </div>
    </div>
</div>