<div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h5 style="color:blue">Train your Project</h5>
            </div>
            <div class="col-sm-8">
                <input type="submit" value="Train" id="train" class="btn btn-primary">
            </div>
        </div>
</div>