@model VRBYOD.Feature.Navigation.Rendering.Models.Footer

    <footer class="fixed-footer">
        <div class="container-fluid bg-gray4 py-3">
            <div class="container">
                <div class="row">
                    <div class="footer-copyright col-9">
                        &copy; Team VR - 2021 Hackathon - Build Your Own Dataset - Object Detection &nbsp;
                    </div>                    
                </div>
            </div>
        </div>
    </footer>