@model VRBYOD.Feature.Navigation.Rendering.Models.Footer

    <footer class="fixed-footer">
        <div class="container-fluid bg-gray4 py-3">
            <div class="container">
                <div class="row">
                    <div class="footer-copyright col-9">
                        &copy; Team VR - 2021 Hackathon - Build Your Own Dataset &nbsp;|
                        <a rel="noopener noreferrer" href="https://www.sitecore.com/trust" target="_blank">Legal</a>|
                        <a rel="noopener noreferrer" href="https://www.sitecore.com/trust/privacy-policy" target="_blank">Privacy</a>&nbsp;|
                        <a rel="noopener noreferrer" href="https://www.sitecore.com/own-the-experience" target="_blank">Own the Experience</a>|
                    </div>                    
                </div>
            </div>
        </div>
    </footer>