<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <settings>
            <setting name="VRBYOD-Setting-Item" value="{04D8DF42-D920-4A71-B27C-DC14A7957291}"/>
        </settings>
        <services>
            <configurator type="VRBYOD.Foundation.Settings.ServiceConfigurator, VRBYOD.Foundation.Settings" />
        </services>
    </sitecore>
</configuration>
