@model Route

@{
    ViewData["Title"] = Model.ReadField<TextField>("Title")?.Value ?? "Untitled";
    ViewData["Text"] = Model.ReadField<RichTextField>("Text")?.Value ?? "No Text";
}

<header>
    <sc-placeholder name="header"></sc-placeholder>
</header>

<main>
    <div id="content" class="container">
        <sc-placeholder name="main"></sc-placeholder>
    </div>
</main>

<footer class="fixed-footer">
    <sc-placeholder name="footer"></sc-placeholder>
</footer>